<div class="footer">
    &copy; @DateTime.Now.Year - GEW溢生产APP后台管理 Copyright Esquel Group All Rights Reserved
    Powered By GEW/PE
	<div class="span pull-right">
		<span class="go-top"><i class="icon-angle-up"></i></span>
	</div>
</div>