
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WvSys/Views/Shared/_Admin.cshtml";
}

@using GMS.Web.Admin.Utils


<div id="vue-root">
    
</div>

@Html.Script("~/dist/commons.js")
@Html.Script("~/dist/WvSysWorker.js")

