<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <!--appSettings是应用程序设置,可以定义应用程序的全局常量设置等信息-->
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>

    <connectionStrings>
        <!--**********************  注意：发布时，请补充以下GewPrdApp用户的密码！！！！！！！***-->
        <add name="WvmDbContext" connectionString="Data Source=gew-mis01uat;database=WVMDB;uid=test;pwd=ittest;"  providerName="System.Data.SqlClient"/>

        <!--************************GewPrdAppDB****************************************-->
        <add name="GewPrdAppDB" connectionString="Data Source=gew-mis01uat;database=GewPrdAppDB;uid=test;pwd=ittest;" providerName="System.Data.SqlClient" />

        <!--************************WMIS01_PbRead****************************************-->
        <add name="WMIS01_PbRead" connectionString="Data Source=gew-mis01;database=WVMDB;uid=pbread;pwd=limitereader01;" providerName="System.Data.SqlClient" />

        <!--************************EMIS_DB****************************************-->
        <add name="EMIS_DB" connectionString="Data Source=getnt20;database=EMIS_DB;uid=appreader;pwd=Kdmctd&amp;23ax;" providerName="System.Data.SqlClient" />

        <!--************************MonitorWvDb****************************************-->
        <add name="MonitorWvDb" connectionString="Data Source=GETNT103;database=Monitor_WV2;uid=WVAPP;pwd=mj9w@ewZe-t9;"   providerName="System.Data.SqlClient"/>

        <!--************************WVMDB 只读****************************************-->
        <add name="WvmDbPbRead" connectionString="Data Source=gew-mis01uat;database=WVMDB;uid=test;pwd=ittest;"  providerName="System.Data.SqlClient"/>

    </connectionStrings>

    <system.web>
        <globalization uiCulture="zh-CN" culture="zh-CN" />
        <httpRuntime targetFramework="4.5" maxRequestLength="4096" />
        <compilation debug="true" targetFramework="4.5.2" />
        <!--默认错误页设置,mode:具有On,Off,RemoteOnly 3种状态。On表示始终显示自定义的信息; Off表示始终显示详细的asp.net错误信息; RemoteOnly表示只对不在本地Web服务器上运行的用户显示自定义信息.defaultRedirect:用于出现错误时重定向的URL地址-->
        <customErrors mode="Off" />
        <pages>
            <namespaces>
                <add namespace="Kendo.Mvc.UI" />
            </namespaces>
        </pages>
    </system.web>
    <!--5-17增加此节点-->
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <remove name="WebDAV" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <!--IIS7.5上的REST服务的Put,Delete操作发生HTTP Error 405.0 - Method Not Allowed 解决方法-->
            <!--http://blog.csdn.net/huwei2003/article/details/47280289-->
            <remove name="WebDAVModule" />
        </modules>
        <!--增加Apk的mime-->
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
    <runtime>
        <!--加的程序集引用，每添加一个程序集，就表示你的应用程序已经依赖了一个程序集，你就可以在你的应用程序中使用了-->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MiniProfiler" publicKeyToken="B44F9351044011A3" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>